# Backend Application Port
PORT=3000

# PostgreSQL Connection String (Prisma)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/english_learning_db?schema=public"

# CORS Configuration
CORS_ORIGIN="http://localhost:5173"
